<% layout('layouts/boilerplate') %>

    
     
    <div class="row">
     
      <div class="col-6 offset-3 bg-gradient bg-dark text-white">
        <h1 class="text-center  fs-1 text-decoration-underline">Edit Campground</h1>
        <form action = "/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
          <div class="mb-3">
              <label class="form-label" for= "title" >Title</label>
              <input class="form-control" type="text" id="title" name= "campground[title]" value="<%= campground.title %>"required >
              <div class="valid-feedback">
                Looks good
              </div>
         </div>
         <div class="mb-3">
          <label for= "location" class="form-label">Location</label>
          <input type="text" class="form-control"  id="location" name= "campground[location]" value="<%= campground.location %>" required>
          <div class="valid-feedback">
            Looks good
          </div>
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Add Images</label>
            <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
          </div>
         
        <div class="mb-3">
          <label for= "price-label" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
         
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" placeholder="0.00" id="price-label" value="<%= campground.price %>" aria-label="price-label" required aria-describedby="price-label" name= "campground[price]">
          <div class="valid-feedback">
            Looks good
          </div>
        </div>
       
      </div>
        
        <div class="mb-3">
          <label for= "description" class="form-label">Description</label>
          <textarea type="text" class="form-control"  id="description" name= "campground[description]" required><%=campground.description%></textarea>
          <div class="valid-feedback">
            Looks good
          </div>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Add Images</label>
          <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
        </div>
       <div class="mb-3">
         <% campground.images.forEach(function(img,i) { %>
           <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
           <div class="form-check-inline">
             <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>">
           </div>
           <label for="image-<%=i%>">Delete</label>
        <% }) %>
       </div>
       <div class="mb-3 d-flex flex-column">
        <button class="btn btn-success">Update Campground</button>
      </form>
        <a class="btn btn-info" href= "/campgrounds">All Campgrounds</a>
        <a class="btn btn-danger ml-2" href="/campgrounds/<%= campground._id %>">Back to Campground</a>
        </div>
     
      
    
    
     </div>
    </div>
        
          
    
